<h1>THE NOTE</h1>
<div class="note_pad">
<%= best_in_place @note, :title, :path => user_project_note_path(current_user, @project.id, @note.id) %> <br>
<%= best_in_place @note, :body, :path => user_project_note_path(current_user, @project.id, @note.id) %>
</div>

<br>
<%= link_to "back to user", user_path(current_user) %>

