<div id="welcome">
	<h1>Welcome to Noted!</h1>

	<p>If you want to take notes on videos as they play without the hassle of going back and forth between windows you've come to the right place.</p><br> 
	
	<h2>We offer side by side note taking.</h2> <br>	

	<p>And when you're done, you'll have a downloadable PDF for your files that includes the link to your video.</p> 
	<br>
	<h3>Let's get started....</h3> 
	<br>
	<p>Simply enter your topic into the search bar - and it will return Youtube videos on that subject.</p>
	<br>
	<p> Selecting a thumbnail will allow you to watch that video. When you find a video you want to take notes on, click the 'Take Notes' link below the viewer, and you'll open a new note. You can choose to download a PDF of your note when you're done, or wait until later -- your notes will all be saved. The choice is up to you.</p> 
	<br>
	<p>To view previously taken notes, click on the 'Saved Notes' link in the navigation. There you can view, make changes to, or download archived notes. Or, if you're done, you can delete them.</p>
	<br>
	<h4>Now try it for yourself -- enter your first search words into the search bar above and see what happens.</h4>
</div>