<h1>CURRENT USER HERE</h1>


<p>
<b>First Name:</b> 
<%= best_in_place current_user, :fname %>
</p>
<p>
	<b>Last Name:</b>
	<%= best_in_place current_user, :lname %>
</p>

<b>Email:</b>
<%= best_in_place current_user, :email %>
</p>



<%= link_to "DELETE YOUR ACCOUNT", user_path(current_user), method: :delete, data: { confirm: 'Are you sure you want to delete your account? Once it is destroyed all your files will be lost.'} %>


<%# link_to "Change password", edit_user_password_path %>

