	<div id="search">
			<%= form_tag search_path, :method => 'get', id: 'inputs' do %>
	    	<%= text_field_tag :q, nil, placeholder: 'Search for videos here...' %>
	    	<%#submit_tag "", :id => "commit"%> 
			<% end %>
		
	</div>

	

	