<h1>THIS IS WHERE A LIST OF ALL THE PROJECTS GO</h1>
<ul>
<% @projects.each do |project| %>
	<li><%= link_to project.title, user_project_path(current_user, project.id) %>
	<%= link_to "x", user_project_path(current_user, project.id), method: :delete%>
	</li>
	<% end %>
</ul>

<%= link_to "back to user", user_path(current_user) %>