/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*html {
	background-color: rgba(255,253,127,0.2);
}*/

#notice, #alert {
  font:'Helvetica';
  color: green;
  padding: .5em 1em;
  border-bottom: 1px solid green;
  background-color: #EBFAEB;
  margin-top: 0px;
}

h1 {
	font-size: 30px;
	font-weight: bold;
}

/*this is where the navigation is styled*/

nav {
	height: auto;
	height:125px;
	border-bottom: solid;
	border-style: double;
}

#logo {
	margin-right: 40px;
	float: left;
}


#login li{
	display: inline-block;
	float: right;
	font-size: 14px;
	/*border-top: solid 1px;
	border-bottom: solid 1px;*/
	padding: 20px;
	border-radius: 10%;
}

#login a:hover {
	color: black;
	
}
#login a {
	text-decoration: none;
	color: grey;
}

#login {
	padding-top: 15px;
	padding-bottom: 30px;
	text-align: left;
	margin-right: 30px;
}


textarea{
	background-color: transparent;
	border: 0;
	font: normal 14px verdana;
}

textarea:focus, input:focus{
    outline: 0;
}

*:focus {
    outline: 0;
}


