
.login_form{
	padding: 30px;
	width: 100%;
	height: 800px;
	margin: 0 auto;
	margin-top: -19px;
	border-bottom: solid 4px;
	position: relative;
	font-size: 18px;
}

.login_form:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('../images/comp3.JPG'); 
	background-position: right center;
    width: 100%;
    height: 100%;
    opacity : 0.6;
    z-index: -1;
 	box-shadow: inset 0 0 60px rgba(0, 0, 0, 1);
 }

 .form_style {
 	width: 50%;
 	margin: 0 auto;
 	border: solid;
 }

.input {
	margin-left: 520px;
}

.close {
	padding-top: 10px;
	margin-left: 780px;
	width: 50px;
	color: grey;
}


.close:hover {
	color: black;
}

.login_form h2 {
	padding-top: 150px;
	font-size: 46px;
	margin-left: 400px;
	font-family: 'Helvetica';
}

.login_form input {
	width: 230px;
	height: 28px;
	border-radius: 5px;
	margin-bottom: 10px;
	background-color: #d3d3d3;
	font-size: 18px;
}
#form_for {
	margin-left: -210px;
	padding-top: -10px;
	font-size: 16px;
}

#main_page {
	width: 100%;
	height: 800px;
	margin-top: -19px;
	position: relative;
	border-bottom: solid 4px;

}

#main_page:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('../images/comp2.JPG'); 
	background-position: right center;
    width: 100%;
    height: 100%;
    opacity : 0.6;
    z-index: -1;
    box-shadow: inset 0 0 60px rgba(0, 0, 0, 1);
 }

#list_root {
	width: 90%;
	margin:0 auto;
	text-align: right;
}

#list_root li {
	display: inline-block;
	margin: 40px;
	font-size: 20px;
	cursor: pointer;
	color: rbg(74,74,74);

}

#sign_up {
	
}

#sign_up:hover, #sign_in:hover {
	color: #A5C5FF;
}

.close {
	cursor: pointer;
}

#root_info{
	width:40%;
	margin: 0 auto;
	margin-top: 100px;
	text-align: center;
	background-color: rgb(255,249,180);
	padding: 80px;
}

#root_info h2 {
	font-weight: bold;
	font-size: 24px;
	color: rgb(0,113,189);
}

#root_info h1 {
	font-size: 35px;
	padding-bottom: 10px;
	color: rgb(0,113,189);
}

#root_info h3 {
	font-size: 20px;
	color: rgb(162,154,145);

}

#root_info p {
	font-size: 18px;
	color: rgb(162,154,145);

}
