// Place all the styles related to the Notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#note_pad {
	width: 600px;
	height: 800px;
	background: url(http://i.stack.imgur.com/ynxjD.png) repeat-y;
	// background: url('./notepa10.jpg') repeat-y;
 	font: normal 14px verdana;
 	line-height: 25px;
 	padding: 2px 10px;
 	border: solid 1px #ddd;
 	box-shadow: -5px 5px 50px 4px;
}


// styling for tbe individual note
#note_video, #note {
	float: left;
	margin: 0 auto;
}

#note_main {
	width: 95%;
	height: 900px;
	margin: 0 auto;
	
}

#note_video {
	margin-right: 45px;
}

#centerer{
	width: 1250px;
	margin: 0 auto;
	overflow: auto;
}

#note_body {
	width:90%;
	margin: 0 auto;
	padding-top:6px;
}

#title {
	padding-top: 16px;
	font-size: 20px;
	text-align: center;
	margin-left: 40px;
	text-decoration: underline;
	font-weight: bold;

}

#note_wrapper {
	width: 100%;
	position: relative;
	margin-top: -30px;
	background-color: rgb(0,113,189);
}

// #note_wrapper:after {
// 	content : "";
//     display: block;
//     position: absolute;
//     top: 0;
//     left: 0;
//     background-image: url('../images/olives.JPG'); 
// 	background-position: center center;
//     width: 100%;
//     height: 100%;
//     opacity : 0.5;
//     z-index: -1;
//     box-shadow: inset 0 0 200px rgba(0, 0, 0, 1);
// }


#back {
float: left;
}

#forward {
	float: right;
}

#back_button {
	margin: 30px;
}

#PDF {
	font-size: 15px;
	color: white;
}
// this is where the index styling starts....

.notes_all {
	font-size: 18px;
	margin: 10px;
	font-family: 'Helvetica';
}

#all_notes {
	width: 100%;
	height: 100vh;
	position: relative;
	background-color: rgb(0,113,189);
}

#all_notes h2{
	font-size: 20px;
	padding-top: 20px;
	margin-left: 20px;
	font-weight: bold;	
	color: white;
}

// #all_notes:after {
//     content : "";
//     display: block;
//     position: absolute;
//     top: 0;
//     left: 0;
//     background-image: url('../images/comp1.JPG'); 
// 	background-position: right center;
//     width: 100%;
//     height: 100%;
//     opacity : 0.5;
//     z-index: -1;
//     box-shadow: inset 0 0 60px rgba(0, 0, 0, 1);
   
//  }

 #notes_display{
 	width: 85%;
 	margin: 0 auto;
 	padding-top: 30px;
 }

 #notes_list li {
 	padding: 20px;
 	display: inline-block;
 }

#notes_list a {
	text-decoration: none;
}

 #notes_list img {
 	border-radius: 10px;
 }

 #notes_list img:hover {
 	opacity: .6;
 }


